
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Good day </h1>
    <p class="lead">what would you like to do?</p>
    <p><a href="/Lecturer/RegisterCourses" class="btn btn-primary btn-lg">Input courses &raquo;</a></p>
    <p><a href="/Lecturer/GradeCourses" class="btn btn-primary btn-lg">Grade students &raquo;</a></p>
</div>